@using Atividade_2.Models
@model Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="Imagem-corpo">
    <p class="texto-container">Aqui sua viagem dos sonhos se torna realidade</p>

</div>
<div class="texto-home">
    <div class="texto-homeBox">
        <h5>Destino Certo</h5>
        <p>A agência Destino Certo foi criada para transformar seu sonho turístico em realidade. Trabalhamos com apla
            rede
            de produtos e serviços turísticos.
            Temos o compromisso com sua felicidade. Veja em nosso site as ofertas e promoções e conheça o mundo.
            Viaje com segurança e a certeza que pode contar conosco para o que precisar.
        </p>
    </div>
    <div class="texto-homeBox">
        <h5>Documentos para viajar</h5>
        <p>Para sua viagem você deve ter os números dos documentos, nomes e sobrenomes, data de nascimento dos
            passageiros. Antes de viajar
            revise os detalhes das reservas e saiba quais vistos e vacinas são obrigatórios no país de destino. Caso
            tenha dúvidas, pode
            entrar em contato conosco.
        </p>
    </div>
    <div class="texto-homeBox">
        <h5>Alteração ou Cancelamento</h5>
        <p>É possível cancelar ou alterar a sua viagem, faça o pedido com alguns dias de antecedência,
            porém algumas empresas podem cobrar tarifas ou multas. O que não pode ocorrer é alterar o nome do titular da
            reserva.
        </p>
    </div>
</div>